// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
// @import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Redressed&display=swap");

// $roboto-slab: Luminari, fantasy;

@font-face {
  src: url("../public/fonts/AmaticSC-Bold.ttf");
  font-family: amantic;
}

@font-face {
  src: url("../public/fonts/Exo-VariableFont_wght.ttf");
  font-family: exo;
}

@font-face {
  src: url("../public/fonts/PLANK___.TTF");
  font-family: plank;
}

@font-face {
  src: url('../public/fonts/space\ age.ttf');
  font-family: space;
}

.f1 {
  // font-family:  Helvetica, sans-serif;
  // font-family: $roboto-slab;
  // font-family: 'Ariel', sans-serif;
  // font-family: 'Redressed', cursive;
  // font-family: 'Dancing Script', cursive;
  font-family: space;
  font-weight: 400;
  font-size: min(3vw,50px);
  font-size: max(3vw,35px);
  color:#6f0000;
}
