.logoutbutton {
  /* background-image: linear-gradient(
        140deg,
        rgba(4, 56, 91, 1) 0%,
        rgba(211, 16, 228, 1) 81%,
        rgba(255, 0, 124, 0.9659745065789473) 100%
      );
    text-decoration: none;
    padding: 3px 17px;
    border-radius: 10px;
    color: antiquewhite;
    font-size: 0.9rem;
    border-width: 0em; */

  border-radius: 10px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: min(3.2vw,15px);
  font-weight: bold;
  padding: 9px 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 200ms ease-in;
  margin: 8px 0;

  &:hover{
    border-radius: 0;
    transform: scale(0.95);
    background-color: #ff4b2b00;
    border: 3px solid #ff4b2b;
    color: #ff4b2b;
    font-weight: 900;
  }
}

// .logoutbutton button:active {
//   transform: scale(0.95);
// }

// .logoutbutton button:focus {
//   outline: none;
// }
